streamlit
python-dotenv
requests

pandas
numpy

nltk
vaderSentiment

scikit-learn

sentence-transformers
faiss-cpu

chromadb

spacy

pypdf

langdetect
deep-translator

Pillow

APScheduler

pytest